<ion-view class="noticias-view">
  <ion-nav-buttons side="primary">
    <button class="button button-calm button-share" ng-click="compartirNoticia(noticia)">
      <i class="icon ion-android-share-alt"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div ng-show="errorCarga">
      <h4>No se pudo cargar la noticia</h4>
    </div>

    <div class="noticia" ng-show="noticia">
      <div class="imagen">
        <pre-img ratio="_4_3">
          <img ng-src="{{ noticia.imagen }}" spinner-on-load>
        </pre-img>
      </div>

      <div class="titulo">
        {{ noticia.titulo }}
      </div>

      <div class="separado">
        {{ noticia.fecha | date:"EEEE, dd 'de' MMMM 'de' yyyy" }}
      </div>

      <div class="cuerpo">
        <p><strong ng-bind-html="noticia.resumen | rawHtml"></strong></p>
        <p ng-bind-html="noticia.cuerpo.trim() | rawHtml"></p>
      </div>

      <div class="separado">
        <strong>Fuente: </strong>{{ noticia.fuente }}
      </div>

      <div id="comments" class="separado">
        <div class="row">
          <div class="col">
            <h4>Comentarios</h4>
          </div>
          <div class="col text-right">
            <button class="button button-calm">Comentar</button>
          </div>
        </div>
        <div class="list">
          <h5 ng-show=" ! noticia.comentarios.length">No hay comentarios publicados</h5>
          <div class="comment entry-item" ng-repeat="comentario in noticia.comentarios">
            <p><strong>{{ comentario.usuario }}</strong> - <span am-time-ago="comentario.created_at"></span></p>
            <p>{{ comentario.comentario }}</p>
          </div>
        </div>
      </div>

      <div class="notas-relacionadas separado">
        <h4>Noticias relacionadas:</h4>
        <div class="list">
          <h5 ng-show=" ! noticia.relacionadas.length">No hay noticias relacionadas</h5>
          <div ng-repeat="noticia in noticia.relacionadas" class="entry-item">
            <noticia-small></noticia-small>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
