<ion-view class="noticias-view">
  <ion-nav-buttons side="primary">
    <button class="button button-calm button-share" ng-click="compartirNoticia(noticia)">
      <i class="icon ion-android-share-alt"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="noticia" ng-show="noticia">
    <div class="imagen">
      <pre-img ratio="_4_3">
        <img ng-src="{{ noticia.imagen }}" spinner-on-load>
      </pre-img>
    </div>

    <div class="titulo">
      {{ noticia.titulo }}
    </div>

    <div class="card cuerpo">
      <p ng-bind-html="noticia.resumen | rawHtml"></p>
      <p ng-bind-html="noticia.cuerpo | rawHtml"></p>
    </div>

    <div class="card detalles">
      <strong>Publicada el: </strong>{{ noticia.fecha | date:"dd 'de' MMMM 'de' yyyy" }}<br>
      <strong>Fuente: </strong>{{ noticia.fuente }}<br>
    </div>
  </ion-content>
</ion-view>
