<ion-view>
  <ion-content class="about" scroll="false">

    <div class="container">
      <img src="img/logo.png">
      <p class="slogan">Impulsamos el comercio exterior</p>
      <p class="address">
        <h3><i class="icon ion-ios-home"></i> Dirección</h3>
        <span>Fray Luis de León 527, Nuevo Salagua</span>
        <span>Manzanillo, Colima, México</span>
      </p>
      <p class="phone">
        <h3><i class="icon ion-ios-telephone"></i> Teléfono</h3>
        <span>+52 314 3333242</span>
      </p>
      <p>
        <div class="networks">
          <a browse-to="fb://mexicoxport">
            <i class="icon ion-social-facebook"></i>
          </a>

          <a browse-to="twitter://user?screen_name=mexicoxport">
            <i class="icon ion-social-twitter"></i>
          </a>
        </div>
      </p>
    </div>

    <footer>
      <a browse-to="http://mexicoxport.com">
        <img src="img/logo-small-white.jpg">
      </a>
      <span class="version">{{ version }}</span>
    </footer>

  </ion-content>
</ion-view>
