<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu">
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close
                  ui-sref="app.noticias">
          <h2 class="menu-text">Últimas noticias</h2>
        </ion-item>
        <ion-item nav-clear class="item-divider">Categorías</ion-item>
        <ion-item nav-clear menu-close ng-repeat="categoria in categorias"
                  ui-sref="app.categorias({id: categoria.id})">
          <h2 class="menu-text">{{ categoria.nombre }}</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
