.noticias-view
{
  background-color: white !important;

  .entry-data {
    display: inline-block;
    margin-right: 0.5em;

    * {
      color: $entry-data-color;
      font-size: 0.8em;
    }
  }

  .entry-heading
  {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: darken($entry-heading-color, 10%);
    border-color: #000;

    .entry-title
    {
      color: $entry-title-color;
    }

    .entry-author
    {
      font-weight: 500;
    }
  }

  .entry-content
  {
    padding-top: 8px;
    padding-bottom: 0px;

    .entry-excerpt
    {
      overflow: hidden;
      text-overflow: ellipsis;
      @include flex-direction(column);
      -webkit-line-clamp: $entry-excerpt-lines; /* number of lines to show */
      line-height: $entry-font-size + 4;        /* fallback */
      font-size: $entry-font-size;        /* fallback */
      max-height: ($entry-font-size + 4) * $entry-excerpt-lines;       /* fallback */

      *
      {
        font-size: inherit !important;
      }

      padding-bottom: 0.6em;
    }

    .entry-actions
    {
      padding: 10px 0px;

      .col
      {
        padding:0px;
      }

      .actions
      {
        .button-icon
        {
          min-height: initial;
          line-height: 28px;
          padding: 0px;
          vertical-align: middle;
          margin-right: 10px;
        }

        .button-icon:before
        {
          font-size: 28px;
          line-height: 28px;
        }
      }

      .read-more
      {
        .button
        {
          margin:0px;
        }
      }
    }
  }

  .miniatura {
    width: 100% !important;
    height: auto !important;
  }
}

.noticia {

  .titulo {
    width: 100%;
    min-height: 2em;

    padding: 0.5em;

    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.3em;

    color: white;
    background: #008FD5;
    opacity: 0.9;
  }

  .imagen {
    height: 18em;
    overflow-y: hidden;

    img {
      width: auto;
      height: 100%;
      z-index: -99;
    }
  }

  .cuerpo {
    padding: 0.5em;
    margin: 0;
    text-align: justify;
    border-top: 1px solid #EEE;
  }

  .detalles {
    font-size: smaller;
  }

}

#mainLogo {
  padding-top: 0.5em;
}

a {
  text-decoration: none !important;
}

.noticia-big {
  margin: 0;
  margin-bottom: 1em;

  img {
    width: 100%;
    height: auto;
  }
}

.sin-noticias {
  text-align: center;
  margin-top: 2.5em;

  * { color: gray; }
  img { height: 3em; width: auto; margin-top: 2em; opacity: 0.5; }
}

#buscarCampo {
  margin: auto 0;
  height: 2.3em;
  border-bottom: none;
}

#buscarBoton {
  margin-bottom: 0.3em;
}

.separado {
  padding: 1em 0.5em;
  background: white;
  color: gray;
}

.notas-relacionadas {
  border-top: 1px solid #EEE;
}

div[ng-show="errorCarga"] {
  background-color: #ebebeb;
  background-image: url("../img/logo-small-white.jpg");
  background-repeat: no-repeat;
  background-position: center;

  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  h4 {
    text-align: center;
    margin-top: 4em;
  }
}
