<ion-view class="noticias-view">
  <ion-nav-title>
    <img id="mainLogo" ng-src="img/logo.png">
  </ion-nav-title>
  <ion-content>
    <ion-refresher pulling-text="Jala para recargar..." on-refresh="recargar()"></ion-refresher>

    <div class="list">
      <video-small ng-repeat="video in videos"></video-small>

      <div class="entry-item" ng-show="errorCarga">
        <h4>No se pudieron cargar los vídeos</h4>
      </div>

      <ion-infinite-scroll ng-if="puedeCargarMas()"
                           on-infinite="siguientePagina()"
                           distance="3%">
      </ion-infinite-scroll>
    </div>
  </ion-content>
</ion-view>
