.about {
  background: $theme-color-2;

  .container, footer {
    text-align: center;
  }

  .container {
    padding: 5em 0;
    height: 85vh;
    width: 100%;

    img {
      max-width: 12em;
      height: auto;
    }

    p, span, .icon, h3 {
      color: white;
    }

    .slogan {
      font-style: italic;
    }

    .address {
      margin-top: 3em;
    }

    span {
      display: block;
      color: #EEE !important;
    }

    p {
      margin-top: 1em;
    }

    .networks {
      font-size: 3em;
      a {
        margin: 0 0.2em;
      }
    }
  }

  footer {
    img {
      height: 14vh;
      max-height: 70px;
      width: auto;
    }
  }
}
