.about {
  background: $theme-color-2;

  .container {
    padding-top: 5em;
    width: 100%;
    border: 1px dotted black;
    text-align: center;

    img {
      max-width: 12em;
      height: auto;
    }

    p, span {
      color: white;
      text-shadow: 0 0.1em black;
    }

    .address {
      margin-top: 3em;
    }
  }
}
